
.main_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30rem;
    width: 35vw;
    /* border: 1px solid red; */
}
.mainText{
    font-size: 2.3rem;
    text-align: center;
}


.password{
    margin-top: 20px;
}
.password > p{
    font-size: 1.1rem;
}
.password > p::after{
    content: "*";
}
.password > input {
    margin-top: 3px;
    padding: 5px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    height: 45px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
}
.confirmpassword{
    margin-top: 13px;
}
.confirmpassword > p{
    font-size: 1.1rem;
}
.confirmpassword > p::after{
    content: "*";
}
.confirmpassword > input {
    margin-top: 3px;
    padding: 5px;
    font-size: 1.1rem;
    background-color: white;
    color: black;
    height: 45px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
}





.password_validation ul li {
    margin: 3px 0px 3px 14px;
    color: rgb(231, 91, 91);
    font-size: 0.8rem;
   
    

}

.password_validation p{
    margin-top: 8px;
    margin-left: 4px;
    font-size: 0.85rem;
}



.signup_btn{
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background-color: rgba(190, 52, 85,0.2);
    border-radius: 10px;
    border: none;
    cursor: not-allowed;
}