.centreDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer{
    height: 20vh;
    width: 100vw;
    background-color: #1E1E1E;
    /* color: var(--primaryColor); */
    /* background-color: var(--primaryColor); */
    
}
.leftfooter{
    width: 50%;
    /* border: 1px solid white; */
}

.leftfooter img{
    height: auto;
    width: 10rem;
    margin-left: 12rem;
}
.rightfooter{
    width: 50%;
    /* border: 1px solid white; */
    height: 5rem;
}

.icons{
    margin-top: 1.5rem;
    float: right;
    margin-right: 13rem;
  width: max-content;
    /* border: 1px solid white; */
    
}


#icon{
    margin-inline: 15px;
    width: 20px;
    height: 20px;
    /* border: 1px solid green; */
    
    
}
#sms{
    height: 21px;
    /* width: 25px; */
}
#inst{
    height: 20px;
}

@media (max-width:500px){
    .footer{
        height: 12vh;
        width: 100vw;
        background-color: #1E1E1E;
        
       
        
    }
    .leftfooter{
        width: 50%;
        /* border: 1px solid white; */
    }
    
    .leftfooter img{
        height: auto;
        width: 7rem;
        margin-left: 2rem;
    }
    .rightfooter{
        width: 50%;
        /* border: 1px solid white; */
        height: 5rem;
    }
    
    .icons{
        margin-top: 1.5rem;
        float: right;
        margin-right: 3rem;
      width: max-content;
        /* border: 1px solid white; */
        
    }
    
    
    #icon{
        margin-inline: 15px;
        width: 20px;
        height: 20px;
        /* border: 1px solid green; */
        
        
    }
    #sms{
        height: 21px;
        /* width: 25px; */
    }
    #inst{
        height: 20px;
    }
    
}