

#footer{
    background-color: #D6D6D6;
    height: 80px;
    width: 100vw;
    display: flex;
    color: #101010;
    
}
.copyright{
    font-size: 0.99rem;
    position: absolute;
    top: 32px;
    left: 90px;

}
.policies{
    /* border: 1px solid red; */
    display: flex;
   line-height: 37px;
   margin-top: 3px;
   position: absolute;
   left: 22vw;
   font-size: 1.0rem;
  
}
.first_column{
    padding-right: 50px;
}
.media_icons{
    /* border: 1px solid red; */
    position: absolute;
    right: 25vw;
    display: flex;
    top: 20px;
}

#icon_box{
    margin-inline: 5px;
    padding: 12px;
    /* border: 1px solid red; */
}
#icon{
    height: 15px;
    width: 15px;

}
.footerIm{ 
    width: 255px;
    height: 50px;
    position: absolute;
    right: 5vw;
    top: 15px;
}
.ftr{
    width: 100%;
    height: 100%;
}

@media(max-width:450px){

    #footer{
        
        height: 200px;
        width: 100vw;
       
        
    }

    .policies{
        /* border: 1px solid red; */
      
       margin-top: 15px;
       position: absolute;
       left: 22vw;
       font-size: 1.0rem;
      
    }

    
    .media_icons{
        /* border: 1px solid red; */
        position: absolute;
        right: 30vw;
        display: flex;
        top: 90px;
    }

    .footerIm{ 
        width: 255px;
        height: 50px;
        position: absolute;
        left: 17vw;
        top: 120px;
    }

    .copyright {
        position: relative;
        top: 170px;
        left: 30vw;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
       
    }
}