

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  
  overflow-x: hidden;
  background-color: #F3F3F3;
  font-family: 'Gilroy-Medium', sans-serif;
font-style: normal;
-webkit-font-smoothing: subpixel-antialiased !important; 
text-rendering: geometricPrecision !important; 
}

:root{
  --whitish-text:#F8F3EB;
  --primary-reddish:#AF2D3E;
  --primary-darkred:#6F061F;
  --primary-blueish:#018AFF;
  --primary-darkgreen:#0C563E;
  --primary-blackblue:#062743;
  --primary-lightgreen:#13D295;
  --primary-red-900:#BE3455;
  --primary-white:#FFFFFF;
  --primary-main-brown:#201315;
  --primary-facecolor:#F8F3EB;

  --primary-h1:4.0rem;
  --primary-h1-mobile:1.6rem;
  --primary-section-h1:4.0rem;
  --primary-section-h1-mobile:2.3rem;
  --primary-h3:1.8rem;
  --primary-h3-mobile:1.0rem;
  --primary-p:1.4rem;
  --primary-p-mobile:0.9rem;
 --input-color: rgba(43, 43, 43,0.5);
}
