.centreDiv{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    
}



.first_box{
    height: 90vh;
    /* background-color: #201315; */
   
}

.logo{
    position: absolute;
    top: 10px;
    left: 8vw;
    height: auto;
    width: 10rem;
    /* border: 1px solid white; */
    /* margin: 18px 0px 0px 9.6vw ; */
}
.logo >img {
    height: 100%;
    width: 100%;
}

.banner{
   
   align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100vw;
   
    margin-bottom: 0px;
    /* border: 1px solid white; */

}
.banner_img{
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100%;
    width:100%;
    /* border-radius: 18px; */
    object-fit: cover;
    
}
.inside_banner{
    /* border: 1px solid black; */
    height: 60vh;
    height: max-content;
    width: 70vw;
    position: absolute;
    color: white;
    /* top: 240px;
    left: 200px; */
    
}
.inside_banner h1{
    font-size: var(--primary-h1);
    color: var(--whitish-text);
}
.inside_banner h1 span{
    
    color: var( --primary-reddish);
}
.inside_banner h3 {
    margin-top: 2rem;
    font-size: var(--primary-h3);
    color: var(--whitish-text);
}
.section1 p,.section2 p,.section3 p,.section4 p{
    margin-top: 2rem;
    font-size: var(--primary-p);
    color: var(--whitish-text);
}
.section1 h1,.section2 h1,.section3 h1,.section4 h1{
    font-size: var(--primary-section-h1);
    color: var(--whitish-text);
    line-height: 70px;
}


.section1 h1 span{
    color: var(--primary-blackblue);
    font-weight: bolder;
}
.section2 h1 span{
    color: var(--primary-darkred);
    font-weight: bolder;
}
.section3 h1 span{
    color: var(--primary-darkgreen);
    font-weight: bolder;
}
.section4 h1 >span{
    color: var(--primary-reddish);
    font-weight: bolder;
    /* font-stretch: 200%; */
}
.access_btn{
    margin-top: 2rem;
    text-align: center;
    height: 3rem;
    width: 12rem;
    
}
.access_btn button{
    height: 100%;
    width: 100%;
    background-color: var(--primary-reddish);
    border: none;
    border-radius: 6px;
    color: var(--whitish-text);
    font-size: 1.05rem;
    cursor: pointer;
}
.section1{
    height: 90vh;
    width: 100vw;
    background-color: var(--primary-blueish);
    
}





.section2{
    height: 90vh;
    width: 100vw;
    background-color: var(--primary-red-900);

}
.section3{
    height: 90vh;
    width: 100vw;
    background-color: var(--primary-lightgreen);

}
.section4{
    height: 90vh;
    width: 100vw;
    background-color: var(--primary-main-brown);


}
.split{
    height: max-content;
    width: 70vw;
    /* border: 1px solid red; */
    display: flex;
}

.split1{
    width: 60%;
    /* border: 1px solid yellow; */
}
.split2{
    width: 40%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: right;
   
}
.split2 img{
   /* border: 1px solid green; */
    height: 280px;
    width: auto;
    /* float: right; */
}

.partner_btn{
    margin-top: 2rem;
    text-align: center;
    height: 3rem;
    width: 12rem;
    background-color: var(--whitish-text);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 1.05rem;
    cursor: pointer;    
}

.section4{
    height: 90vh;
}

.part1{
    width: max-content;
    border: 1px solid white;
    text-align: center;
}
