.centreDiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;

}



.first_box {
    height: 100vh;
    /* background-color: #201315; */

}

.logo {
    position: absolute;
    top: 10px;
    left: 15vw;
    height: auto;
    width: 10rem;
    /* border: 1px solid white; */
    /* margin: 18px 0px 0px 9.6vw ; */
}

.logo>img {
    height: 100%;
    width: 100%;
}

.banner {

    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;

    margin-bottom: 0px;
    /* border: 1px solid white; */

}

.banner_img {
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    /* border-radius: 18px; */
    object-fit: cover;

}

.banner_imgsm {
    display: none;
}

.inside_banner {
    /* border: 1px solid black; */
    height: 60vh;
    height: max-content;
    width: 70vw;
    position: absolute;
    color: white;
    /* top: 240px;
    left: 200px; */

}

.inside_banner h1 {
    font-size: var(--primary-h1);
    color: var(--whitish-text);
}

.inside_banner h1 b {

    color: var(--primary-reddish);
}

.inside_banner h3 {
    margin-top: 2rem;
    font-size: var(--primary-h3);
    color: var(--whitish-text);
}

.section1 p,
.section2 p,
.section3 p,
.section4 p {
    margin-top: 2rem;
    font-size: var(--primary-p);
    color: var(--whitish-text);
}

.section1 h1,
.section2 h1,
.section3 h1,
.section4 h1 {
    font-size: var(--primary-section-h1);
    color: var(--whitish-text);
    line-height: 70px;
}


.section1 h1 b {
    color: var(--primary-blackblue);
    /* font-weight: bolder; */
}

.section2 h1 b {
    color: var(--primary-darkred);
    /* font-weight: bolder; */
}

.section3 h1 b {
    color: var(--primary-darkgreen);
    /* font-weight: bolder; */
}

.section4 h1 b {
    color: var(--primary-reddish);
    /* font-weight: bolder; */
    /* font-stretch: 200%; */
}

.access_btn {
    margin-top: 2rem;
    text-align: center;
    height: 3rem;
    width: 12rem;

}

.access_btn button {
    height: 100%;
    width: 100%;
    background-color: var(--primary-reddish);
    border: none;
    border-radius: 6px;
    color: var(--whitish-text);
    font-size: 1.05rem;
    cursor: pointer;
}

.section1,.section2 ,.section3, .section4{
    height: 100vh;
    width: 100vw;
}

.section1 {
   
    background-color: var(--primary-blueish);

}

.section2 {
   
    background-color: var(--primary-red-900);

}

.section3 {
   
    background-color: var(--primary-lightgreen);

}

.section4 {
   
    background-color: var(--primary-main-brown);


}

.split {
    height: max-content;
    width: 70vw;
    /* border: 1px solid red; */
    display: flex;
}

.split1 {
    width: 60%;
    /* border: 1px solid yellow; */
}

.split2 {
    width: 40%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: right;

}

.split2 img {
    /* border: 1px solid green; */
    height: 280px;
    width: auto;
    /* float: right; */
}

.partner_btn {
    margin-top: 2rem;
    text-align: center;
    height: 3rem;
    width: 12rem;
    background-color: var(--whitish-text);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 1.05rem;
    cursor: pointer;
}

.section4 {
    height: 100vh;
}

.part1 {
    width: 60vw;
    /* border: 1px solid white; */
    text-align: center;
}

@media (max-width:500px) {

    .banner_imgsm {
        display: block;
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    .banner_img {
        display: none;

    }



    .first_box {
        height: 100vh;
        /* background-color: #201315; */

    }

    .logo {
        left: 7.5vw;
         width: 9rem;
    }

    .inside_banner {
        /* border: 1px solid black; */
        height: 60vh;
        height: 70vh;
        width: 85vw;
        position: absolute;
        color: white;
     

    }

    .inside_banner h1 {
        font-size: var(--primary-h1-mobile);
    }

    .inside_banner h3 {
        margin-top: 1rem;
        font-size: var(--primary-h3-mobile);

    }

    .section1 p,
    .section2 p,
    .section3 p,
    .section4 p {
        margin-top: 1rem;
        font-size: var(--primary-p-mobile);

    }

    .section1 h1,
    .section2 h1,
    .section3 h1,
    .section4 h1 {
        font-size: var(--primary-section-h1-mobile);

        line-height: 45px;
    }

    .access_btn {
        margin-top: 1.5rem;
        text-align: center;
        height: 2.7rem;
        width: 9rem;
    
    }

    .split {
        height: max-content;
        width: 85vw;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translateY(-2.7rem);
    }

    .split1 {
        width: 100%;
        /* border: 1px solid yellow; */
    }
    
    .split2 {
        width: 100%;
        /* border: 1px solid yellow; */
        justify-content: center;
        padding-block: 3rem;
       
    
    }
    .split2 img {
        /* border: 1px solid green; */
        height: 220px;
        width: auto;
        /* float: right; */
    }
    
    .partner_btn {
        margin-top: 0rem;
       
        height: 2.7rem;
        width: 10rem;
       
        font-size: 1.05rem;
       position: absolute;
         bottom: -3rem;
    }

   
    
    .part1 {
        width: 85vw;
        /* border: 1px solid white; */
    }
}