
.main_heading{
    font-size: 1.6rem;
    position: absolute;
    top: 130px;
    left: 7vw;
}


.main_filter_div{
 height:max-content;
 width: 20vw;
 position: absolute;
 top: 150px;
 left: 4vw;
 /* border: 1px solid black; */
 margin: 10px;
 padding: 10px;

}
#search{
    margin-top: 10px;
    /* border: 1px solid red; */
    width: max-content;
}


.influencer_checkbox{
    margin-top: 25px;
    /* border: 1px solid red; */
    height: 200px;
    overflow-y: auto;
    
}
.influencer_checkbox::-webkit-scrollbar {
    width: 6px;
  }
  .influencer_checkbox::-webkit-scrollbar-track {
    background: #dcdbdb; 
    border-radius: 10px ;
  }
  .influencer_checkbox::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 5px;
  }

   
.industry_checkbox{
    margin-top: 25px;
    /* border: 1px solid red; */
    height: 200px;
    overflow-y: auto;
    
}

.industry_checkbox::-webkit-scrollbar {
    width: 6px;
  }
  .industry_checkbox::-webkit-scrollbar-track {
    background: #dcdbdb; 
    border-radius: 10px ;
    
  }
  .industry_checkbox::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 5px;
   
  }

#filters{
    /* border: 1px solid red; */
    margin: 20px 20px;
    padding: 15px 10px;
    line-height: 22px;
    
}
#filters label{
    font-size: 0.88rem;
    
}

#searchimg{
  position: relative;
  top: 8px;
  left: 5px;
  height: 12px;
  width: 12px;
  z-index: 100;
}

.citySearch{
   height: 35px;
   width: 195px;
   padding-left: 35px;
   position: relative;
   left: -20px;
   top: 5px;
   /* z-index: -100; */
   font-size: 0.9rem;
   
   border: 2px solid #F0F0F0;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   border-radius: 12px;

}

.citySearch:focus{
    outline: none;
}
.price_range >input{
    height: 30px;
    width: 75px;
    margin: 5px 4px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px grey;
    padding-left: 5px;
}
.apply_price{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    cursor: pointer;
}



.form {
    height: 59px;
    width: 35vw;
    /* border: 1px solid black; */

    position: absolute;
    top: 115px;
    right: 8vw;

}

.form>input {
    height: 80%;
    width: 100%;
    border: 2px solid rgba(240, 240, 240, 1);
    border-radius: 14px;
    font-size: 1rem;
    padding-inline: 40px;
  background-color: rgba(255, 255, 255, 0.76);
  /* box-shadow: 0px 1px 0.8px 0.9px rgb(183, 182, 182); */

}
.form>input:focus{
    outline: none;
}

.search_icon {
    position: absolute;
    top: 10px;
    right: 40px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}

.all_profiles_div{
   height: max-content;
   width: 63vw;
   /* border: 1px solid red; */
   position: absolute;
   top: 190px;
   right: 7vw;
   display: flex;
   flex-direction: row;
   
   flex-wrap: wrap;
   flex-shrink: 0.5;
   padding-bottom: 20vh;

}
.card {
    margin: 10px 5px;
    border: 5px solid #F3F3F3;
    background:  #292D32;
    border-radius: 8px;
    overflow: hidden;
    height: 350px;
    color: white;
    border-radius: 15px;
    width: 250px;
   
}
.all_profiles_div a{
    text-decoration: none;
}

.card_top {
    height: 75%;
   


}

.card_top>h1 {
    font-size: 1.2rem;
    margin: 8px 20px;
    color: white;
  


}


.card_top>img {
    border: 5px solid #292D32;
    border-radius: 15px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
}

.card_bottom {
    height: 25%;
    margin: 5px 24px;
    padding-top: 5px;
   
}

.icon_btn_all {
    /* border: 1px solid white; */
    display: flex;
    margin-top: 8px;
}

.icon_btn_all>button {
    height: 20px;
    width: 20px;
    border: none;
    margin-right: 5px;
    background-color:transparent;
    color: rgb(190, 52, 85);
    cursor: pointer;
}


.load_more{
    position: absolute;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* right: 40%; */
    width: 100%;
    height: 46px;
   /* border: 1px solid red; */
}
.load_more > button{
    display: flex;
    height: 100%;
    width: 18%;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 17px;
    cursor: pointer;
}
@media(max-width:900px){
    .card{
        width: 200px;
    }
    .all_profiles_div{
       
        width: 57vw;
       
        right: 5vw;
       
     
     }
     
    
    .search_icon {
       
        right: 10px;
       
    }

}
@media(max-width:750px){
    .card{
        width: 190px;
    }
    .all_profiles_div{
       
        width: 59vw;
       
        right: 2vw;
       
     
     }
     .main_filter_div{
       
        width: 25vw;
        position: absolute;
       
        left: 3vw;
        /* border: 1px solid black; */
        margin: 5px;
        padding: 10px;
       
       }
       #filters{
           /* border: 1px solid red; */
           margin: 20px 10px;
           padding: 15px 10px;
           line-height: 22px;
       }


    }
       @media(max-width:450px){
        
        
    .main_heading{
    position: absolute;
    top: 100px;
    left: 5vw;
    font-size: 0.8rem;
     }
        
        .card{
            width: 220px;
        }
        .all_profiles_div{
           
            width: 58vw;
           
            right: 2vw;
           
         
         }
         .main_filter_div{
           
            width: 32vw;
            position: absolute;
            
            left: 1vw;
            /* border: 1px solid black; */
            margin: 5px 0px;
            padding: 10px;
           
           }
           #filters{
               width: fit-content;
               /* border: 1px solid red; */
               margin: 10px 0px;
               padding: 10px 0px;
               overflow-x: auto;
               font-size: 0.85rem;
           }
           .form {
            height: 45px;
            width: 55vw;
            /* border: 1px solid black; */
        
            position: absolute;
            top: 135px;
            right: 7vw;
        
        }
        
        .form>input {
           
            font-size: 0.9rem;
            padding-inline: 30px;
         
        
        }
        .search_icon {
            top: 5px;
            right: 6px;
           
        }
        #search{
            margin-top: 10px;
            /* border: 1px solid red; */
            
            width: max-content;
        }

        .citySearch{
            height: 30px;
            width: 125px;
           
         }

        .load_more{
          
            height: 35px;
           /* border: 1px solid red; */
        }
        .load_more button{
            width: 38%;
            height: 35px;
           /* border: 1px solid red; */
        }
        
      
        .card_top>h1 {
            font-size: 1.05rem;
            margin: 8px 15px;
          
        }

        .card_bottom >h4{
            font-size: 0.95rem;
        }

        .industry_checkbox::-webkit-scrollbar {
           display: none;
          }
          .industry_checkbox::-webkit-scrollbar-track {
            display: none;
            
          }
          .industry_checkbox::-webkit-scrollbar-thumb {
           display: none;
           
          }

          .influencer_checkbox::-webkit-scrollbar {
            display: none;
          }
          .influencer_checkbox::-webkit-scrollbar-track {
            display: none;
          }
          .influencer_checkbox::-webkit-scrollbar-thumb {
            display: none;
          }

          #filters>h3{
            font-size: 0.85rem;
          }

    }
