.nav{
    background-color: #EAEAEA;
    height: 80px;
    width: 100vw;
}

.logo{
    height:70px ;
    width: 175px;
    position: absolute;
    left: 84px;
    top: 10px;
}

.btn{
    display: flex;
    position: absolute;
    top: 25px;
    right: 6vw;
    height: 40px;
    width: 140px;
    
    border: 2px solid  rgb(190, 52, 85);
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;

}
.btn:hover{
      background-color:  rgb(172, 50, 79);
      color: white;

}
.btn:hover #nonhovericon{
      display: none;
}
.btn:hover #hovericon{
      display: block;
}
.btn:hover p{
    position: relative;
    top: 10px;
    left: 45px;
}
.usericon{
    height: 18px;
    width: 15px;
   position: relative;
   top: 9px;
   left: 25px;
    
}
#hovericon{
    position: absolute;
    display: none;
}

.btn  p{
    position: relative;
    top: 10px;
    left: 31px;
}
@media(max-width:450px){

    .nav{
       
        height: 70px;
        width: 100vw;
    }

    .logo{
        height:55px ;
        width: 130px;
        position: absolute;
        left: 30px;
        top: 5px;
    }
    
    .btn{
        position: absolute;
        top: 18px;
        right:6vw;
        height: 33px;
        width: 100px;
        border: 1.5px solid red;
        border-radius: 8px;
        font-size: 0.8rem;
    
    }
    
   
    .usericon{
        height: 13px;
        width: 13px;
       position: relative;
       top: 10px;
       left: 10px;
        
    }
    
    .btn  p{
        position: relative;
        top: 10px;
        left: 18px;
    }
}