.main_div{
    padding: 20px;
    height: max-content;
    width: 40vw;
    /* border: 1px solid black; */
    position: absolute;
    top: 16vh;
    left: 11vw;
   
}
.main_div label{
    margin-left: 5px;
   
}
.main_heading{
    
    font-size: 2rem;
    margin-bottom: 25px;
}
.info_profileimg > h4{
    font-size: 1.3rem;
    margin-bottom: 8px;
}
.info_profileimg > h6{
    font-size: 0.95rem;
   
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;

}
.form{
    display: flex;
    margin-top: 10px;
    width: max-content;
    /* border: 1px solid red; */
   
}
.usericon{
   height: 30px;
  
}
.icn{
    height: 80px;
    width: 80px;
    background-color: rgb(227, 227, 227);
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.file_upload{
    /* border: 1px solid red; */
    width: 200px;
}

.file_upload > input[type="file"]{
    opacity:0 ;
    position: relative;
    top: 25px;
    width: 90%;
    left: 20px;
  font-size: 1.1rem;
}

#add_another{
    margin-left: 10px;
    /* border: 1px solid red; */
    width: max-content;
    color: rgb(133, 130, 130);
    cursor: pointer;
}

.file_btn{
    position: relative;
    top: -3px;
    left: 18px;
    height: 35px;
    width: 110px;
    z-index: -10;
    background-color: black;
    color: white;
    padding: 9px 0px 0px 15px;
    border-radius: 8px;
    font-size: 0.9rem;
}


.other_info{
    margin-top: 20px;
    /* border: 1px solid red; */
}
#register{
    /* border: 1px solid red; */
    margin-top: 5px;
    padding: 5px;
}
#inpt{
    height: 38px;
    width: 452px;
    border: 2px solid #F0F0F0;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 0.9rem;
    margin-top: 4px;
    
}

.state_city{
    /* border: 1px solid red; */
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}
#select_city , #select_state{
    height: 38px;
    width: 220px;
    border: 2px solid #F0F0F0;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 0.8rem;
  
    margin: 4px 12px 0px 3px;
}

.city >label{
    margin-left: 8px;
    
}
#select_language{
  margin-top: 5px;
}


#mark{
    font-size: 0.85rem;
    margin-left: 5px;
}


#mark::after{
    content: "*";
}
.dob{
    margin-top: 10px;
}

.language{
    margin-top: 10px;
}

#select_language{
    height: 38px;
    width: 452px;
    border: 2px solid #F0F0F0;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 0.8rem;
    
}

.agency_btn{
    display: flex;

}
.agency_btn button{
    cursor: pointer;
    height: 38px;
    width: 220px;
    border: 2px solid #F0F0F0;
    background-color: white;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 0.95rem;
    margin-right: 12px;
    margin-left: 3px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.agency_btn button:hover {
    background-color: rgb(190, 52, 85);
    color: white;
}

.social_media{
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
}
.medialink input{
    height: 38px;
    width: 220px;
    border: 2px solid #F0F0F0;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 0.8rem;
    margin-right: 12px;
    margin-left: 3px;
    margin-top: 4px;
}
.services_body{
    display: flex;
    margin-top: 4px;
    flex-wrap: wrap;

}
#last{
    margin-top: 8px;
    height: 60px;
    /* border: 1px solid red; */
}
#last input ,#last select{
    height: 38px;
    width: 140px;
    border: 2px solid #F0F0F0;
    border-radius: 12px;
    padding-left: 10px;
    font-size: 0.8rem;
    margin-right: 12px;
    margin-left: 3px;
    margin-top: 4px;
}
.terms_and_condition{
    display: flex;
   
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.terms_and_condition input{
    margin-right: 5px;
}

.create_profile{
   
    height: 40px;
    width: 400px;
    margin: 10px 0px 50px 30px;
}
.create_profile button{
    height: 100%;
    width: 100%;
    border-radius: 13px;
    border: none;
    background-color: 
    rgba(41, 45, 50, 1);
    color: white;
}

@media(max-width:450px){


    .main_div{
        padding: 20px;
        height: max-content;
        width: 90vw;
        border: 1px solid black;
        position: absolute;
        top: 100px;
        left: 5vw;
       
    }
   
    .main_heading{
        
        font-size: 1.7rem;
        margin-bottom: 25px;
    }
    .info_profileimg > h4{
        font-size: 1.3rem;
        margin-bottom: 8px;
    }
    .info_profileimg > h6{
        font-size: 0.95rem;
       
        font-style: normal;
        font-weight: 300;
        margin-bottom: 20px;
    
    }
    

    #inpt{
        height: 38px;
        width: 100%;
        border: 2px solid #F0F0F0;
        border-radius: 12px;
        padding-left: 10px;
        font-size: 0.9rem;
        margin-top: 4px;
        
    }
    #select_language{
        height: 38px;
        width: 100%;
        border: 2px solid #F0F0F0;
        border-radius: 12px;
        padding-left: 10px;
        font-size: 0.8rem;
        
    }
    #last input ,#last select{
       
        width: 110px;
        border: 2px solid #F0F0F0;
        border-radius: 12px;
        padding-left: 10px;
        font-size: 0.8rem;
        margin-right: 12px;
        margin-left: 3px;
        margin-top: 4px;
    }
    .create_profile{
   
        height: 40px;
        width: 200px;
        margin: 10px 0px 50px 30px;
    }
    .create_profile button{
        height: 100%;
        width: 100%;
        border-radius: 13px;
        border: none;
        background-color: 
        rgba(41, 45, 50, 1);
        color: white;
    }
}