.main_div{
    height: max-content;
    width: 61vw;
    /* height: 200vh; */
    /* border: 1px solid red; */
    position: absolute;
    top: 200px;
    right: 8vw;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    /* flex-shrink: 0.5; */
    padding-bottom: 20vh;
}

.cards{
    height: max-content;
    width: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}

#card{
    border-radius: 15px;
    height: 310px;
    background-color: #808080;
}