.leftBox{
    height: max-content;
    width: 35vw;
    /* border: 1px solid black; */
    position: absolute;
    top: 140px;
    left: 13vw;
}

.username{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 3px 5px 20px 10px;
}
.username >p {
    font-size: 1.5rem;
}


.userImage{
    height: 32rem;
    width: 100%;
    border: none;


}
.Image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.envelope{
    height: 13px;
    width: 13px;
    margin-right: 4px;
    margin-top: 0px;
}

.contact_btn{
    height: max-content;
    height: 4.5rem;
    width: 100%;
    margin-block: 15px;
    
    border: 0.3px solid rgba(218, 210, 210,0.6);
    border-radius: 17px;
    padding: 10px;
    background-color: white;
}
.contact_btn >button{
    height: 100%;
    width: 100%;
    background-color:  rgb(190, 52, 85);
    border: none;
    border-radius: 13px;
    /* margin-top: 5px;
    margin-left: 9px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightBox{
    height: max-content;
width: 35vw;
/* border: 1px solid black; */
position: absolute;

    top: 140px;
    right: 13vw;
}



.name{
    line-height: 1.2rem;
    font-size: 1.8rem;
    text-align: left;
    margin: 8px;
    padding: 4px;
    width: fit-content;
    /* border: 1px solid red; */
}
.city{
    font-size: 1.1rem;
    /* border: 1px solid red; */
    margin-top: 0px;
    padding-left: 15px;
    width: 50%;
    color: grey;
}
.icons{
    position: relative;
    margin-left: 5px;
    margin-top: 8px;
    /* border: 1px solid red; */
    width: fit-content;
}
.icons > button{
    height: 35px;
    width: 35px;
    margin: 5px;
    border-radius: 10px;
    border: 0.3px solid rgba(202, 192, 192,0.3);
    cursor: pointer;
}
#ic{
    height: 45%;
    width: 45%;
    color: rgb(190, 52, 85);
}

.category_section{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap !important;
    width: 30vw;
    /* height: max-content; */
     /* border: 1px solid red; */
     padding: 2px;
     margin-left: 8px;
     margin-top: 15px;
}

#category{
    width: max-content;
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    rgba(190, 52, 85, 0.1);
    border: none;
    border-radius: 13px;
   
    padding-inline: 10px;
    
}
#vector{
 height: 12px;
 width: 12px;
 width: auto;
 padding-right: 3px;

}

#category p{
    font-size: 0.87rem;

}

.interest_section{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap !important;
    width: 30vw;
    /* height: max-content; */
     /* border: 1px solid red; */
     padding: 2px;
     margin-left: 8px;
     margin-top: 5px;
}

#interest{
    width: max-content;
    
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    rgba(121, 247, 22,0.1);
    border: none;
    border-radius: 13px;
   
    padding-inline: 10px;
    
}
.language_section{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap !important;
    width: 30vw;
    /* height: max-content; */
     /* border: 1px solid red; */
     padding: 2px;
     margin-left: 8px;
     margin-top: 5px;
}

#language{
    width: max-content;
    
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    rgba(247, 215, 22,0.1);
    border: none;
    border-radius: 13px;
    margin: 4px;
    padding-inline: 10px;
    
}



    #music{
        padding-right: 4px;
        
        
    }
   

    

    
    
    
    .performances{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #performance{
        background-color: rgba(192, 226, 24,0.1);
        border: none;
        width: 13.2rem;
        height: 5.2rem;
        border-radius: 15px;
        padding: 8px;
        margin:1rem 5px 5px 5px;
    }

    #performancesvg{
        height: 18px;
        width: 18px;
        margin-right: 4px;
    }
   
    #performance h4{
        font-size: 1.05rem;
        margin-top: 15px;
        margin-bottom: 9px;
    }
    #performance > div{
        display: flex;
        flex-direction: row;
        /* border: 1px solid black; */
        padding-inline: 3px;
       
    }
    #performance h5{
        font-size: 0.95rem;
        margin:1px 2px 2px 2px;
    }

    .footer{
        position: absolute;
        top: 56rem;
    }
    .experience{
        margin-inline: 10px;
        margin-block: 12px;
    }

    @media(max-width:850px){
        .leftBox{
            height: 130vh;
            width: 42vw;
            left: 5vw;
           
        }
        .rightBox{
            height: 130vh;
            width: 42vw;
            /* border: 1px solid black; */
            position: absolute;
            top: 20%;
            right: 5vw;
        }
    }

    @media(max-width:500px){

     .rightBox{
      
        position: absolute;
        top: 1000px;
        left: 10vw;
        height: 100vh;
        width: 80vw;
        /* border: 1px solid black; */
     }
     .leftBox{
        height: max-content;
        width: 80vw;
        /* border: 1px solid black; */
        position: absolute;
        top: 100px;
        left: 10vw;
        margin: auto;
    }
    .userImage{
        height: 50%;
        width: 100%;
        border: none;
        
    
    }
    .Image {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
    .icons{
       
        left: 45vw;
       
    }
    .icons > button{
        height: 25px;
        width: 25px;
        margin: 5px;
       
    }
    .price > h5{
        text-align: end;
        font-size: 1.2rem;
        float: right;
        position: relative;
       
        left: 25vw;
    }

    
    .performances{
        justify-content: center;
       align-items: center;
    }

    .videobox{
      
        margin:5px;
       
    }

    .price_and_contact{
       
        margin: 5px;
       
    }

    
    .username >p {
        font-size: 1.4rem;
    }
    
    #category{
       
        font-size: 0.9rem;
        
    }
    #vector{
     height: 17px;
     width: auto;
     padding-right: 3px;
    
    }
    #category p{
       
       margin-top: 2px;
        
    }
    
    
    }