.leftBox{
    height: 850px;
    width: 32vw;
    /* border: 1px solid black; */
    position: absolute;
    top: 140px;
    left: 15vw;
}

.username{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 3px 5px 8px 5px;
}
.username >p {
    font-size: 1.5rem;
}

#category{
    width: 165px;
    /* border: 1px solid black; */
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    background-color: 
    rgba(190, 52, 85, 0.1);
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-inline: 10px;
    
}
#vector{
 height: 17px;
 width: 17px;
 padding-right: 3px;

}
.userImage{
    height: 50%;
    width: 100%;
    border: none;
    

}
.Image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.name{
    font-size: 1.8rem;
    text-align: left;
    margin: 10px;
    width: fit-content;
    /* border: 1px solid red; */
}
.city{
    font-size: 1.1rem;
    /* border: 1px solid red; */
    margin-top: -10px;
    padding-left: 15px;
    width: 50%;
    color: grey;
}
.icons{
    position: relative;
    margin-left: 5px;
    /* border: 1px solid red; */
    width: fit-content;
}
.icons > button{
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 10px;
    border: 0.3px solid rgba(202, 192, 192,0.3);
    cursor: pointer;
}
#ic{
    height: 45%;
    width: 45%;
    color: rgb(190, 52, 85);
}

.oneliner{
    font-size: 1.3rem;
    margin-left: 10px;
}
.talents{
    display: flex;
    flex-wrap: wrap;
    
    
    }
    #talent{
        /* border: 0.5px solid red; */
        background-color: rgba(247, 215, 22,0.1);
        padding: 5px;
        margin: 5px;
        border-radius: 8px;
        display: flex;
        
    }
.industries{
    display: flex;
    flex-wrap: wrap;
    
    
    }
    #industry{
        /* border: 0.5px solid red; */
        background-color:rgba(121, 247, 22,0.1);
        padding: 5px;
        margin: 5px;
        border-radius: 8px;
        display: flex;
        
    }

    #music{
        padding-right: 4px;
        
        
    }
    #categories{
        height: 15px;
        width: 15px;
        margin-right: 4px;
    }
    .description{
        margin: 25px 10px 10px 10px;
        font-family: sans-serif;
        font-size: 0.95rem;
    }


    .rightBox{
        height: 130vh;
        width: 32vw;
        /* border: 1px solid black; */
        position: absolute;
        top: 20%;
        right: 15vw;
    }

    .videobox{
        height: 25%;
        width: 96%;
        border: 1px solid grey;
        margin: 10px;
        border-radius: 15px;
    }
    .price_and_contact{
        height: 50px;
        width: 96%;
        margin: 10px;
        border: 0.3px solid rgba(218, 210, 210,0.6);
        border-radius: 17px;
        padding: 3px;
    }
    
    .contact_btn{
        height: 32px;
        width: 95%;
    }
    .contact_btn >button{
        height: 100%;
        width: 100%;
        background-color:  rgb(190, 52, 85);
        border: none;
        border-radius: 13px;
        margin-top: 5px;
        margin-left: 9px;
        color: white;
    }
    .performances{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #performance{
        background-color: rgba(247, 215, 22,0.1);;
        border: none;
        border-radius: 15px;
        padding: 8px;
        margin:25px 5px 5px 5px;
    }

    #categoryimg{
        height: 15px;
        width: 15px;
        margin-right: 4px;
    }
    #performance >div > p{
        font-weight: 1000;
        margin-right: 6px;
    }
    #performance >div > h6{
        font-weight: 1000;
        margin-top: 4px;
    }
    #performance > div{
        display: flex;
        flex-direction: row;
        /* border: 1px solid black; */
        padding-inline: 3px;
       
    }
    #performance > h5{
        font-size: 0.9rem;
        margin:15px 2px 2px 2px;
    }
    

    @media(max-width:850px){
        .leftBox{
            height: 130vh;
            width: 42vw;
            left: 5vw;
           
        }
        .rightBox{
            height: 130vh;
            width: 42vw;
            /* border: 1px solid black; */
            position: absolute;
            top: 20%;
            right: 5vw;
        }
    }

    @media(max-width:500px){

     .rightBox{
      
        position: absolute;
        top: 1000px;
        left: 10vw;
        height: 100vh;
        width: 80vw;
        /* border: 1px solid black; */
     }
     .leftBox{
        height: max-content;
        width: 80vw;
        /* border: 1px solid black; */
        position: absolute;
        top: 100px;
        left: 10vw;
        margin: auto;
    }
    .userImage{
        height: 50%;
        width: 100%;
        border: none;
        
    
    }
    .Image {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
    .icons{
       
        left: 45vw;
       
    }
    .icons > button{
        height: 25px;
        width: 25px;
        margin: 5px;
       
    }
    .price > h5{
        text-align: end;
        font-size: 1.2rem;
        float: right;
        position: relative;
       
        left: 25vw;
    }

    
    .performances{
        justify-content: center;
       align-items: center;
    }

    .videobox{
      
        margin:5px;
       
    }

    .price_and_contact{
       
        margin: 5px;
       
    }

    
    .username >p {
        font-size: 1.4rem;
    }
    
    #category{
       
        font-size: 0.9rem;
        
    }
    #vector{
     height: 17px;
     width: 17px;
     padding-right: 3px;
    
    }
    #category p{
       
       margin-top: 2px;
        
    }
    
    
    }